<div class="container-fluid">
    <ul class="_nav _navbar-nav _navbar-right pull-right">
        <li><div class="frameForSingle">
                <button type="button" id="goToOriginal" class="_btn _btn-default">Обычная версия</button>
            </div></li>
    </ul>
    <ul class="_nav _navbar-_nav">
        <li><div class="frame">
                <span class="bold text-center">Размер шрифта</span>
            </div>
            <div class="text-center">
                <button type="button" id="font-sm" class="_btn _btn-default" onclick="fontRescale(-1)">A-</button>
                <button type="button" id="font-lg" class="_btn _btn-default" onclick="fontRescale(1)">A+</button>
            </div></li>
        <li><div class="frame">
                <span class="bold text-center">Интервал</span>
            </div>
            <div class="text-center">
                <button type="button" id="line-height-sm" class="_btn _btn-default" onclick="setLineHeight(-1)">-</button>
                <button type="button" id="line-height-lg" class="_btn _btn-default" onclick="setLineHeight(1)">+</button>
            </div></li>
        <li><div class="frame">
                <span class="bold text-center">Цвет сайта</span>
            </div>
            <div class="text-center">
                <button type="button" id="black" class="_btn _btn-default white bold" onclick="setColors('white')">Ц</button>
                <button type="button" id="white" class="_btn _btn-default black bold" onclick="setColors('black')">Ц</button>
                <button type="button" id="blue" class="_btn _btn-default darkblue bold" onclick="setColors('darkblue')">Ц</button>
            </div></li>
        <li><div class="frame">
                <span class="bold text-center">Изображения</span>
            </div>
            <div class="_btn-group" role="group" aria-label="...">
                <button type="button" class="_btn _btn-default" onclick="setImageClass('hidden')">Выкл</button>
                <button type="button" class="_btn _btn-default" onclick="setImageClass('gray')">Ч/б</button>
                <button type="button" class="_btn _btn-default" onclick="setImageClass()">Цвет</button>
            </div>
        </li>
    </ul>
</div>