<?php
use Illuminate\Http\Request;

?>
<!DOCTYPE html>
<html>
<head>
    <title>тестовое  задание, версия для слабовидящих</title>
    <link href="http://finevision.ru/static/css/bootstrap-custom.css" rel="stylesheet">
    <link href="http://finevision.ru/static/css/finevision.css" rel="stylesheet">
</head>
<body>
{% include '_navbar.twig' only %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% for key, page in pages %}
                    <li>
                        <a href="/page/{{ page.page_id}}">                                                             страница id:{{ page.page_id}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Тестовая страница <?=$page_id?></h1>
            {% if page_id == 1 %}
                <br>
                <img src="http://placehold.it/850x750">
                <br>
                <p class="fst">
                    COMRADES, men of the Red Army and Red Navy, commanders and political instructors, working men and working women, collective farmers-men and women, workers in the intellectual professions, brothers and sisters in the rear of our enemy who have temporarily fallen under the yoke of the German brigands, and our valiant men and women guerillas who are destroying the rear of the German invaders!
                </p>
                <p>
                    On behalf of the Soviet Government and our Bolshevik Party I am greeting you and congratulating you on the twenty-fourth anniversary of the Great October Socialist Revolution.
                </p>
                <p>
                    Comrades, it is in strenuous circumstances that we are to-day celebrating the twenty-fourth anniversary of the October Revolution. The perfidious attack of the German brigands and the war which has been forced upon us have created a threat to our country. We have temporarily lost a number of regions, the enemy has appeared at the gates of Leningrad and Moscow. The enemy reckoned that after the very first blow our army would be dispersed, and our country would be forced to her knees. But the enemy gravely miscalculated. In spite of temporary reverses, our Army and Navy are heroically repulsing the enemy&#8217;s attacks along the entire front and inflicting heavy losses upon him, while our country&#8212;our entire country&#8212;has organized itself into one fighting camp in order, together with our Army and our Navy, to encompass the rout of the German invaders.
                </p>
            {% elseif page_id == 2 %}
                <p><FONT COLOR="#000000">At 7:53 a.m. on Sunday, December 7, 1941, the first assault
                        wave of Japanese fighter planes attacked the U.S. Naval base at Pearl Harbor,
                        Hawaii, taking the Americans completely by surprise. </FONT></p>
                <p><FONT COLOR="#000000">The first  wave targeted airfields and battleships.
                        The second wave targeted other ships and shipyard facilities. The air raid
                        lasted until 9:45 a.m. Eight battleships were damaged, with five sunk.
                        Three light cruisers, three destroyers and three smaller vessels were lost
                        along with 188 aircraft. The Japanese lost 27 planes and five midget submarines
                        which attempted to penetrate the inner harbor and launch torpedoes.</FONT></p>
                <img src="http://placehold.it/150x150">
                <br>
                <p><FONT COLOR="#000000">Three prime targets; the U.S. Pacific Fleet aircraft
                        carriers, <I>Lexington, Enterprise </I>and<I> Saratoga</I>, were not in the
                        harbor and thus escaped damage. </FONT></p>
                <p><FONT COLOR="#000000">The casualty list at Pearl Harbor included 2,335 servicemen
                        and 68 civilians killed, and 1,178 wounded. Over a thousand crewmen aboard the
                    </FONT><I>USS Arizona</I> battleship were killed after a 1,760 pound aerial
                    bomb penetrated the forward magazine causing catastrophic explosions. </p>
                         <p><FONT COLOR="#000000">News of the &quot;sneak attack&quot; was broadcast to
                        the American public via radio bulletins, with many popular Sunday afternoon
                        entertainment programs being interrupted. The news sent a shockwave across the
                        nation, resulting in a tremendous influx of young volunteers into the U.S. Armed
                        Forces. The attack also united the nation behind President Franklin D. Roosevelt
                        and effectively ended the American isolationist movement.</FONT></p>
                <p><FONT COLOR="#000000">On Monday, December 8th, President Roosevelt appeared
                        before Congress and made this speech asking for a declaration of war against
                        Japan, calling the previous day &quot;...a date which will live in infamy...&quot;
                    </FONT></p>
            {% elseif page_id == 3 %}
                <P>[British Library of Information]</P>
                <P><img src="http://placehold.it/450x450"></P>
                <br>
                <P>I have taken occasion to speak to you tonight because we
                    have reached one of the climacterics of the war. In the first
                    of these intense turning points, a year ago, France fell
                    prostrate under the German hammer and we had to face the
                    storm alone. </P>
                <P>
                <P>The second was when the Royal Air Force beat the Hun
                    raiders out of the daylight air raid and thus warded off the
                    Nazi invasion of our islands while we were still ill-armed
                    and ill-prepared. </P>
                <P>
                <P>The third turning point was when the President and
                    Congress of the United States passed the lease and lend
                    enactment, devoting nearly 2,000,000,000 sterling of the
                    wealth of the New World to help us defend our liberties and
                    their own. </P>
                <P>
                <P>Those were the three climacterics. </P>
                <P>
                <P>The fourth is now upon us. </P>
                <P>
                <P>At 4 o'clock this morning Hitler attacked and invaded
                    Russia. All his usual formalities of perfidy were observed
                    with scrupulous technique. A non-aggression treaty had been
                    solemnly signed and was in force between the two countries.
                    No complaint had been made by Germany of its non-fulfillment.
                    Under its cloak of false confidence the German armies drew up
                    in immense strength along a line which stretched from the
                    White Sea to the Black Sea and their air fleets and armoured
                    divisions slowly and methodically took up their stations.
                </P>
                <P>
                <P>Then, suddenly, without declaration of war, without even
                    an ultimatum, the German bombs rained down from the sky upon
                    the Russian cities; the German troops violated the Russian
                    frontiers and an hour later the German Ambassador, who till
                    the night before was lavishing his assurances of friendship,
                    almost of alliance, upon the Russians, called upon the
                    Russian Foreign Minister to tell him that a state of war
                    existed between Germany and Russia. </P>
                <P>
                <P>Thus was repeated on a far larger scale the same kind of
                    outrage against every form of signed compact and
                    international faith which we have witnessed in Norway, in
                    Denmark, in Holland, in Belgium and which Hitler's accomplice
                    and jackal, Mussolini, so faithfully imitated in the case of
                    Greece. </P>
                <P>
                <P>All this was no surprise to me. In fact I gave clear and
                    precise warnings to Stalin of what was coming. I gave him
                    warnings, as I have given warnings to others before. I can
                    only hope that these warnings did not fall unheeded. </P>
                <P>
                <P>All we know at present is that the Russian people are
                    defending their native soil and that their leaders have
                    called upon them to resist to the utmost. </P>
                <P>
                <P>Hitler is a monster of wickedness, insatiable in his lust
                    for blood and plunder. Not content with having all Europe
                    under his heel or else terrorized into various forms of
                    abject submission, he must now carry his work of butchery and
                    desolation among the vast multitudes of Russia and of Asia.
                    The terrible military machine which we and the rest of the
                    civilized world so foolishly, so supinely, so insensately
                    allowed the Nazi gangsters to build up year by year from
                    almost nothing-this machine cannot stand idle, lest it rust
                    or fall to pieces. It must be in continual motion, grinding
                    up human lives and trampling down the homes and the rights of
                    hundreds of millions of men. </P>
                <P>
                <P>Moreover, it must be fed not only with flesh but with
                    oil. So now this bloodthirsty guttersnipe must launch his
                    mechanized armies upon new fields of slaughter, pillage and
                    devastation. Poor as are the Russian peasants, workmen and
                    soldiers, he must steal from them their daily bread. He must
                    devour their harvests. He must rob them of the oil which
                    drives their ploughs and thus produce a famine without
                    example in human history. </P>
                <P>
                <P>And even the carnage and ruin which his victory, should
                    he gain it-though he's not gained it yet-will bring upon the
                    Russian people, will itself be only a stepping stone to the
                    attempt to plunge four or five hundred millions who live in
                    China and the 350,000,000 who live in India into that
                    bottomless pit of human degradation over which the diabolic
                    emblem of the swastika flaunts itself. </P>
                <P>
                <P>It is not too much to say here this pleasant summer
                    evening that the lives and happiness of a thousand million
                    additional human beings are now menaced with brutal Nazi
                    violence. That is enough to make us hold our breath. </P>
                <P>
                <P>But presently I shall show you something else that lies
                    behind and something that touches very nearly the life of
                    Britain and of the United States. </P>
                <P>
                <P>The Nazi regime is indistinguishable from the worst
                    features of Communism. It is devoid of all theme and
                    principle except appetite and racial domination. It excels in
                    all forms of human wickedness, in the efficiency of its
                    cruelty and ferocious aggression. Noone has been a more
                    consistent opponent of Communism than I have for the last
                    twenty-five years. I will unsay no words that I've spoken
                    about it. But all this fades away before the spectacle which
                    is now unfolding. </P>
                <P>
                <P>The past, with its crimes, its follies and its tragedies,
                    flashes away. I see the Russian soldiers standing on the
                    threshold of their native land, guarding the fields which
                    their fathers have tilled from time immemorial. I see them
                    guarding their homes; their mothers and wives pray, ah yes,
                    for there are times when all pray for the safety of their
                    loved ones, for the return of the breadwinner, of the
                    champion, of their protectors. </P>
                <P>
                <P>I see the 10,000 villages of Russia, where the means of
                    existence was wrung so hardly from the soil, but where there
                    are still primordial human joys, where maidens laugh and
                    children play I see advancing upon all this, in hideous
                    onslaught, the Nazi war machine, with its clanking,
                    heel-clicking, dandified Prussian officers, its crafty expert
                    agents, fresh from the cowing and tying down of a dozen
                    countries. I see also the dull, drilled, docile brutish
                    masses of the Hun soldiery, plodding on like a swarm of
                    crawling locusts. I see the German bombers and fighters in
                    the sky, still smarting from many a British whipping, so
                    delighted to find what they believe is an easier and a safer
                    prey. And behind all this glare, behind all this storm, I see
                    that small group of villainous men who planned, organized and
                    launched this cataract of horrors upon mankind. </P>
                <P>
                <P>And then my mind goes back across the years to the days
                    when the Russian armies were our Allies against the same
                    deadly foe when they fought with so much valor and constancy
                    and helped to gain a victory, from all share in which, alas,
                    they were, through no fault of ours, utterly cut off. </P>
                <P>
                <P>I have lived through all this and you will pardon me if I
                    express my feelings and the stir of old memories. But now I
                    have to declare the decision of His Majesty's Government, and
                    I feel sure it is a decision in which the great Dominions
                    will, in due course, concur. And that we must speak of now,
                    at once, without a day's delay. I have to make the
                    declaration, but can you doubt what our policy will be? </P>
                <P>
                <P>We have but one aim and one single irrevocable purpose.
                    We are resolved to destroy Hitler and every vestige of the
                    Nazi regime. From this nothing will turn us. Nothing. We will
                    never parley; we will never negotiate with Hitler or any of
                    his gang. We shall fight him by land; we shall fight him by
                    sea; we shall fight him in the air, until, with God's help,
                    we have rid the earth of his shadow and liberated its people
                    from his yoke. </P>
                <P>
                <P>Any man or State who fights against Nazism will have our
                    aid. Any man or State who marches with Hitler is our foe.
                    This applies not only to organized States but to all
                    representatives of that vile race of Quislings who make
                    themselves the tools and agents of the Nazi regime against
                    their fellow-countrymen and against the lands of their
                    births. These Quislings, like the Nazi leaders themselves, if
                    not disposed of by their fellow-countrymen, which would save
                    trouble, will be delivered by us on the morrow of victory to
                    the justice of the Allied tribunals. That is our policy and
                    that is our declaration. </P>
                <P>
                <P>It follows, therefore, that we shall give whatever help
                    we can to Russia and to the Russian people. We shall appeal
                    to all our friends and Allies in every part of the world to
                    take the same course and pursue it as we shall, faithfully
                    and steadfastly to the end. </P>
                <P>
                <P>We have offered to the Government of Soviet Russia any
                    technical or economic assistance which is in our power and
                    which is likely to be of service to them. We shall bomb
                    Germany by day as well as by night in ever-increasing
                    measure, casting upon them month by month a heavier discharge
                    of bombs and making the German people taste and gulp each
                    month a sharper dose of the miseries they have showered upon
                    mankind. </P>
                <P>
                <P>It is noteworthy that only yesterday the Royal Air Force,
                    striking inland over France, cut down with very small loss to
                    themselves twenty-eight of the Hun fighting machines in the
                    air above the French soil they have invaded, defiled and
                    profess to hold. </P>
                <P>
                <P>But this is only a beginning. From now henceforward the
                    main expansion of our air force proceeds with gathering
                    speed. In another six months the weight of the help we are
                    receiving from the United States in war materials of all
                    kinds, especially in heavy bombers, will begin to tell. This
                    is no class war. It is a war in which the whole British
                    Empire and Commonwealth of Nations is engaged without
                    distinction of race, creed or party. </P>
                <P>
                <P>It is not for me to speak of the action of the United
                    States, but this I will say: If Hitler imagines that his
                    attack on Soviet Russia will cause the slightest division of
                    aims or slackening of effort in the great democracies, who
                    are resolved upon his doom, he is woefully mistaken. On the
                    contrary, we shall be fortified and encouraged in our efforts
                    to rescue mankind from his tyranny. We shall be strengthened
                    and not weakened in our determination and in our resources.
                </P>
                <P>
                <P>This is no time to moralize upon the follies of countries
                    and governments which have allowed themselves to be struck
                    down one by one when by united action they could so easily
                    have saved themselves and saved the world from this
                    catastrophe. </P>
                <P>
                <P>But, when I spoke a few minutes ago of Hitler's bloodlust
                    and the hateful appetites which have impelled or lured him on
                    his Russian adventure, I said there was one deeper motive
                    behind his outrage. He wishes to destroy the Russian power
                    because he hopes that if he succeeds in this he will be able
                    to bring back the main strength of his army and air force
                    from the East and hurl it upon this island, which he knows he
                    must conquer or suffer the penalty of his crimes. </P>
                <P>
                <P>His invasion of Russia is no more than a prelude to an
                    attempted invasion of the British Isles. He hopes, no doubt,
                    that all this may be accomplished before the Winter comes and
                    that he can overwhelm Great Britain before the fleets and air
                    power of the United States will intervene. He hopes that he
                    may once again repeat upon a greater scale than ever before
                    that process of destroying his enemies one by one, by which
                    he has so long thrived and prospered, and that then the scene
                    will be clear for the final act, without which all his
                    conquests would be in vain, namely, the subjugation of the
                    Western Hemisphere to his will and to his system. </P>
                <P>
                <P>The Russian danger is therefore our danger and the danger
                    of the United States just as the cause of any Russian
                    fighting for his hearth and home is the cause of free men and
                    free peoples in every quarter of the globe. </P>
                <P>
                <P>Let us learn the lessons already taught by such cruel
                    experience. Let us redouble our exertions and strike with
                    united strength while life and power remain. </P>
                <P>
                    <CENTER><P>*****</P>
            {% endif %}

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://finevision.ru/static/js/jsCookies.js"></script>
<script src="http://finevision.ru/static/js/navbar.js"></script>
<script src="http://finevision.ru/static/js/myLibrary.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
    MYLIBRARY.init([]);
</script>
</body>
</html>
